.bars__filter {
    margin: 20px 0px 20px 0px;
}

.loading {
    text-align: center;
}

.pull-right {
    float: right;
}

.btn {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.list-group-item-action {
    cursor: pointer;
}

.drinks__list__action {
    float: right;
    cursor: pointer;
}